<div
  style="background: url('{{ section.settings.background_image_1 | image_url }}') center/cover no-repeat; max-width:1920px"
  class="collection{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  id="{{ section.settings.id_for_anchor }}"
>
  <div class="page-width">
    <div class="collection__wraper">
      <div class="collection__wraper__title">
        {% if section.settings.title != blank %}
          {{- section.settings.title -}}
        {% endif %}
      </div>
      <div class="grid">
        {%- for block in section.blocks -%}
          {% if block.type == 'collection' %}
            <div class="collection__wraper__card">
              {% if block.settings.product_image != blank %}
                {{
                  block.settings.product_image
                  | image_url: width: 420
                  | image_tag: class: 'product__card__image-mob', loading: 'laizy'
                }}
              {% endif %}
              <div class="collection__wraper__card__content">
                {% if block.settings.stars_image != blank %}
                  {{
                    block.settings.stars_image
                    | image_url: width: 88
                    | image_tag: class: 'collection__wraper__card__content__image', loading: 'laizy'
                  }}
                {% endif %}
                <p class="collection__wraper__card__content__rev">{{- block.settings.stars_text -}}</p>
              </div>
              <p class="collection__wraper__card__content__name">{{- block.settings.product_name -}}</p>
              <p class="collection__wraper__card__content__description">{{- block.settings.product_description -}}</p>
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
    <p class="collection__bottom-text">{{ section.settings.bottom_text }}</p>
  </div>
</div>
{% schema %}
{
  "name": "Custom Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "section title"
    },
    {
      "type": "image_picker",
      "id": "background_image_1",
      "label": "image"
    },
    {
      "type": "inline_richtext",
      "id": "bottom_text",
      "label": "bottom text"
    },
    {
      "type": "text",
      "id": "id_for_anchor",
      "label": "ID For Navigation Anchor"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "custom-collection-item",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product image"
        },
        {
          "type": "image_picker",
          "id": "stars_image",
          "label": "stars image"
        },
        {
          "type": "inline_richtext",
          "id": "stars_text",
          "label": "reviews text"
        },
        {
          "type": "inline_richtext",
          "id": "product_name",
          "label": "product name"
        },
        {
          "type": "inline_richtext",
          "id": "product_description",
          "label": "product description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection"
    }
  ]
}
{% endschema %}
