<style>
  @media (max-width: 580px) {
    .product__card__image-mob {
      width: 320px !important;
      height: auto !important;
    }
  }
  @media (min-width: 1200px) {
    .product__card__image-mob {
      height: 400px !important ;
    }
  }
  .product__card__image-mob {
    display: block;
    margin-bottom: 20px;
  }
</style>
<div
  style="background: url('{{ section.settings.background_image_1 | image_url }}') center/cover no-repeat; max-width:1920px"
  class="collection {% if section.settings.include_margins %}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
>
  <div class="page-width">
    <div class="collection__wraper">
      <div class="collection__wraper__title">
        {{- section.settings.title }}
      </div>
      <div class="grid">
        {%- for block in section.blocks -%}
          {% if block.type == 'collection' %}
            <div class="collection__wraper__card">
              {% if block.settings.product_image_mob != blank and block.settings.product_image_mob != blank %}
                {{
                  block.settings.product_image
                  | image_url: width: 420
                  | image_tag: class: 'product__card__image-mob'
                }}
              {% endif %}
              <div class="collection__wraper__card__content">
                {% if block.settings.stars_image != blank and block.settings.stars_image != blank %}
                  {{
                    block.settings.stars_image
                    | image_url: width: 88
                    | image_tag: class: 'collection__wraper__card__content__image'
                  }}
                {% endif %}
                <p class="collection__wraper__card__content__rev">{{- block.settings.stars_text -}}</p>
              </div>
              <p class="collection__wraper__card__content__name">{{- block.settings.product_name -}}</p>
              <p class="collection__wraper__card__content__description">{{- block.settings.product_description -}}</p>
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "section title"
    },
    {
      "type": "image_picker",
      "id": "background_image_1",
      "label": "image"
    },
    {
      "type": "inline_richtext",
      "id": "bottom_text",
      "label": "bottom text"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "custom-collection-item",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image_mob",
          "label": "Product image"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product image"
        },
        {
          "type": "image_picker",
          "id": "stars_image_mob",
          "label": "stars image"
        },
        {
          "type": "image_picker",
          "id": "stars_image",
          "label": "stars image"
        },
        {
          "type": "inline_richtext",
          "id": "stars_text",
          "label": "reviews text"
        },
        {
          "type": "inline_richtext",
          "id": "product_name",
          "label": "product name"
        },
        {
          "type": "inline_richtext",
          "id": "product_description",
          "label": "product description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom collection"
    }
  ]
}
{% endschema %}
